<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/mobileView_contact.css">
</head>

<body>

    <h1 style="text-align: center;color: green;">
        <%=locals.response %>
    </h1>
    <div class="contact_section1">

        <div class="contact_form">
            <h1>CONTACTS</h1>
            <form action="/send" method="post">

                <label for="">Name</label>
                <br>
                <br>
                <input type="text" name="name" id="" required>
                <br>
                <br>
                <label for="">Mobile Number</label>
                <br>
                <br>
                <input type="number" name="mobileNumber" id="" required>
                <br>
                <br>
                <label for="">Email</label>
                <br>
                <br>
                <input type="email" name="email" id="" required>
                <br>
                <br>
                <label for="">Description</label>
                <br>
                <br>
                <textarea name="description" id=""></textarea>
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>