<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/mobileView_Home.css">
    <title>Portfolio</title>
</head>

<body>
    <div class="outerNavBar">
        <div class="innerNavBar">
            <div class="logo">
                <h1 class="S">S</h1>
            </div>
            <div class="name">
                <h3>SHUBHAM V SALIAN</h3>
            </div>
            <div class="contact">
                <form action="/contact" method="get">
                    <button class="contact_button">Contact</button>
                </form>

            </div>
        </div>

    </div>
    <!-- ****** section 2 div includes Discription and image -->
    <div class="middleMainDiv">
        <div class="middleCenterBody">
            <h1>Full Stack Developer</h1>
            <h2>I design and code beautifully simple things, and I love what I do.</h2>
            <img src="/images/shubham.png" alt="my image">
        </div>
    </div>

    <!-- ****** section 3 div includes about me -->
    <div class="section3">
        <div class="section3Content">
            <h1>Hi, I’m Shubham. Nice to meet you.</h1>
            <h4>I hold a Master's degree in Computer Applications from Manipal Academy of Higher Education and I am an
                accomplished full stack developer. With a strong passion for web application development, I am dedicated
                to creating innovative and user-centric digital solutions that seamlessly integrate front-end design
                with robust back-end functionality.</h4>
        </div>

    </div>

    <!-- ****** section 4 div includes  skills and recent work-->
    <div class="section4">
        <h1>MY SKILLS</h1>
        <div class="skills_image">
            <img src="/images/html.png" alt="">
            <img src="/images/css3.png" alt="">
            <img src="/images/javascript.png" alt="">
            <img src="/images/mongodb.png" alt="">
            <img src="/images/java.png" alt="">
            <img src="/images/android.png" alt="">
            <img src="/images/node-js.png" alt="">
            <img src="/images/react.png" alt="">
            <img src="/images/express.png" alt="">
            <div class="section5">
                <h1>
                    <h1>MY RECENT WORKS</h1>
                </h1>

                <div class="recent_works_card">
                    <a href="https://github.com/salianshubham/ShowTicket">
                        <div class="ticket_booking">

                            <img src="/images/android.png" alt="">
                            <h1>Show Ticket</h1>
                        </div>

                    </a>
                    <a href="https://github.com/salianshubham/cake_land">
                        <div class="cake_land">
                            <img src="/images/react.png" alt="">
                            <h1>Cake Land</h1>
                        </div>
                    </a>

                    </a>

                    <div class="section6">
                        <h1>S</h1>
                        <h3>Living, learning, & leveling up one day at a time.</h3>
                        <div class="social_media">
                            <a href="https://twitter.com/shubham_salian"><img src="/images/twitter.png" alt=""
                                    class="social_media_icons"></a>
                            <a href="https://www.linkedin.com/in/shubham-salian-247750244/"><img
                                    src="/images/linkedin.png" alt="" class="social_media_icons"></a>
                            <a href="mailto:shubhamsalian46@gmail.com"><img src="/images/email.png" alt="email"
                                    class="social_media_icons"></a>
                            <a href="https://www.instagram.com/salian.shubham/"><img src="/images/instagram.png" alt=""
                                    class="social_media_icons"></a>
                        </div>
                        <h3>click here to download <a class="resume"
                                href="https://drive.google.com/file/d/1c-Wm1xfKXhjJLm_wrJbUrzqoR1H6VXBG/view?usp=drive_link">resume</a>
                        </h3>
                        <h5 style="color: white;">Contact : 8747933283,8217723393</h5>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <!-- ****** section 4 div includes  My recent work -->
    <!-- <div class="section5"></div> -->
</body>

</html>